# Can be: dev | prod | testing
ENVIRONMENT=dev

# WEB
ADMIN_USERNAME="admin"

# Do NOT store the password in plain text here. We'll either store it hashed or verify it against the hash.
# Check Readme.md to learn how to generate the hash from your own password.
## current: 'testing' change it!
ADMIN_PASSWORD="$2b$12$ysh25BtJwvVtrUuHxdM36.Vq8qXf3EmEc4kc0pwxakmi1KrZuxfCW"

# GPG
GPG_SECRET_PASSPHRASE=testing

# JWT
## Generate this with 'openssl rand -hex 32' and keep it SECRET!
JWT_SECRET_KEY="Here is your generated 32-byte hex secret key"
JWT_ALGORITHM="HS256"
JWT_EXPIRATION=30 

# Can you multiple, just use "," without white spaces
CORS_ALLOW="http://localhost:3000"

## Frontend

VITE_API_URL=http://localhost:8000

#VITE_APP_THEME=cyberpunk
VITE_APP_THEME=retro
# VITE_APP_THEME=default

VITE_USE_FAKE_REPO=false